<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(11, 8, 8);
        color: white;
        text-align: center;
        height: 70px;
       margin-top: 30PX;
       padding-top: 25px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        margin-bottom: 2px;
    }
</style>
<div class="footer">
    <p>CopyRight &copy;Ne0Soft Technology. All Right And Reserved</p>
</div>