<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" style=";">
    
    <div class="collapse navbar-collapse "id="navbarNav">
      <ul class="navbar-nav" style="padding-left:470px ; ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/Login">Login</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/users/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/info">Information</a>
        </li>
      </ul>
    </div>
  </div>
</nav>